
.cp-forms {
    padding: 2em 1em;
    background-color: var(--cinza-claro-fundos);
    margin: 0em 1.5em 1.5em;
    border-radius: 10px;
}

.forms {
    display: flex;
    flex-direction: column;
}

.forms__label {
    margin-bottom: 0.5em;
    margin-top: 1.3em;
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-de-fundo-inicial);
}

.forms__input {
    padding: 1em;
    border: 1px solid transparent;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 25%);
    border-radius: 6px;
    background-color: var(--branco);
    outline: none;
}

.forms__input::placeholder {
    text-align: center;
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: var(--cinza-claro);
    text-align: start;
    
}

.frm-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
    margin-bottom: 0.5em;
    margin-top: 2em;
    width: 148px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: var(--branco);
    background-color: var(--coral);
    box-shadow: 2px 2px;
    transition: all .4s ease-in;
}

.submit:hover {
    background-color: var(--coral-claro);
}

.submit:active {
    border-color: var(--cor-de-fundo-inicial);
}


@media screen and (min-width: 768px) {

    body {
        background: url(../images/Forma\ 2\ dsktp.svg) no-repeat, #FFFFFF;
        background-position: right 43%, 0;
        display: flex;
        flex-direction: column;
    }
    

    .forms {
        width: 30em;
    }

    .cp-forms {
        display: flex;
        justify-content: center;
        margin: 2.5em 7.5em 5.6em;
        padding: 2em 1em;
    }


    .forms__input::placeholder {
        font-size: 14px;
        
    }

    .submit {
        font-size: 18px;
        width: 10.5em;
    }


}

@media screen and (min-width: 1440px) {



    .cp-forms {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 27px 30px 32px;
        margin: 2.25em 27em;
    }

    .forms-label {
        font-size: 18px;
        
    }

    .forms__input, .input-senhas {
        width: 35em;

    }

    .forms__input::placeholder {
        font-size: 16px;
        
    }

    .forms-label {
        font-size: 18px;
    }

    .submit {
        width: 10em;
    }

}